{
    "trailingComma": "all",
    "singleQuote": true,
    "vueIndentScriptAndStyle": true,
    "printWidth": 8000,
    "arrowParens": "always",
    "endOfLine": "auto",
    "tabWidth": 4,
    "semi": true,
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSpacing": true
}
