:root {
    --vscode-editorInlayHint-parameterBackground: #ff0000 !important;
}
.view-line {
    --vscode-editorInlayHint-parameterBackground: #00ff00 !important;
    &:has(.mtk20),
    &:has(.mtk56) {
        &:has(.mtk25),
        &:has(.mtk35) {
            .mtk55 {
                color: #eeffff !important;
            }
        }
    }
    .mtk58,
    .mtk31 {
        & + .mtk8 {
            color: #cec573dc !important;
            font-weight: 250 !important;
        }
    }
    .mtk35 {
        position: relative;
        padding-left: 6px;
        &::after {
            content: '';
            position: absolute;
            bottom: calc(50% - 3px);
            left: 0;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: limegreen;
        }
    }
    .mtk43 {
        position: relative;
        padding-left: 6px;
        &::after {
            content: '';
            position: absolute;
            bottom: calc(50% - 3px);
            left: 0;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: limegreen;
        }

        & + .mtk8 {
            & + .mtk8 {
                & + .mtk37 {
                    color: #eeffff !important;
                }
            }
            & + .mtk37 {
                color: #eeffff !important;
            }
        }
        span {
            color: red;
        }
    }
}
